@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

[data-testid="flowbite-tooltip"] {
  background-color: #4c4c4c !important; /* Change to your desired color */
  color: #ffffff !important; /* Adjust text color */
}

/* Change tooltip arrow color */
[data-testid="flowbite-tooltip-arrow"] {
  background-color: #4c4c4c !important; /* Same as tooltip background */
}

.fc .fc-button {
  background-color: #e76943 !important; /* Change button color */
  color: white !important; /* Text color */
  border-radius: 5px !important;
  padding: 6px 12px !important;
  border: none !important;
}

.fc .fc-button:hover {
  background-color: #d45a33 !important; /* Darker shade on hover */
}
